* {
    box-sizing: border-box;
}

header {
    height: 100px;
    background-image: url(pattern.png);
    background-size: contain;
    background-color: rgb(68, 176, 219);
    position: relative;
}

.logo {
    width: 15%;
    position: absolute;
    bottom: 5px;
    padding: 10px;
}